PORT=5001
MONGO_URI=mongodb://localhost:27017/findmymess_restaurant
JWT_SEC=your_jwt_secret
UTILS_SERVICE=http://localhost:5002
REALTIME_SERVICE=http://localhost:5004
INTERNAL_SERVICE_KEY=your_internal_key
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
PAYMENT_QUEUE=payment_event
RIDER_QUEUE=rider_queue
ORDER_READY_QUEUE=order_ready_queue
NOTIFICATION_QUEUE=notification_email_queue
