PORT=5007
NODE_ENV=development

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
NOTIFICATION_QUEUE=notification_email_queue

# Resend API
RESEND_API_KEY=re_your_resend_api_key_here
EMAIL_FROM=FindMyMess <onboarding@resend.dev>

# Optional: In development, redirect all emails to this address to satisfy Resend unverified domain limits
# RESEND_DEV_OVERRIDE_EMAIL=your_email@example.com

# Service Security
INTERNAL_SERVICE_KEY=jdfienf12345@@@@##4$$$%%%jsadfjlajdf
